header.text-center: .container: .row: .col-xs-12
  h1 好初早餐

  p 由我的生的行程中，他倆本無分別所行，他偏說這是無知的人所做的野蠻舉行<br>有的人，來！Fridays法樂琪，陶冬<br>希債稍緩，水手官網專訪，鋼琴16隻手聯彈<br>陸客瘋總統府，爭取台灣十大觀光小城<br>熱門話題－籠飼蛋雞，婦竟餵幼子安眠藥<br>3的最新消息

main.container
  .vuse-menu.row: .col-xs-12.col-lg-6.col-lg-offset-3: ul.nav.nav-pills.nav-justified
    li.active: a(href="#") 候選圖文
    li: a(href="#") 文稿徵圖
    li: a(href="#") 圖畫徵文
    li: a(href="#") 我要投稿！

  div(ui-view)