.vuse-card(ng-click="mother.App.$state.go('post', {id: card.id})")
  header
    img(ng-src="{{card.client.avatar.square || card.payload.avatar_url}}")
    | {{card.nickname}}
  section
    | {{card.view}}
    div(ng-repeat="moreItem in card.payload.more" class="moreItem.class") {{moreItem.text}}
