doctype html
html(ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 好初早餐 @ VUSE
    != stylesheetLinkTag('styles', {assetsPath: 'public/stylesheets/'})

  body(ng-controller="AppCtrl as App")

    div#body(ui-view)

    footer.text-center: .container: .row: .col-xs-12
      p 好初早餐 x VUSE ® Copyright 2014

    != javascriptIncludeTag('app', {assetsPath: 'public/javascripts/'})