/*
 *= require_self
 */

// customize bootstrap variables here:
@import variables
@import bootstrap
@import compass/typography

#body>header
  h1
    +replace-text-with-dimensions('logo.jpg')
    margin: 2rem auto

=card-shadow($rotate-deg)
  $dist: 12px
  position: relative // for absolute-positioned pseudo-elements
  &:before, &:after
    content: ''
    position: absolute
    width: 50%
    height: 10px
    bottom: $dist
    z-index: -1
    +box-shadow(0 $dist $dist rgba($gray-darker, .15))

  &:before
    left: 0
    +rotate(-$rotate-deg)

  &:after
    right: 0
    +rotate($rotate-deg)

#body>main
  .vuse-menu
    +trailer(3)
    +leader(3)

  // deckgrid setup
  .vuse-text-item-list:before
    +squish-text
    content: '2 .col-xs-6.col-md-4.col-lg-3'

    @media screen and (min-width: #{$screen-md-min})
      content: '3 .col-xs-6.col-md-4.col-lg-3'

    @media screen and (min-width: #{$screen-lg-min})
      content: '4 .col-xs-6.col-md-4.col-lg-3'

  // Card setup
  .vuse-text-item-list > div > div
    +trailer
    +box-shadow(0 3px 5px 1px rgba($gray-darker,.15))
    +card-shadow(9deg)

    &:before, &:after
      +transition(opacity .2s ease)
      opacity: 0

    &:hover
      cursor: pointer
      &:before, &:after
        opacity: 1

  .vuse-card
    padding: 1rem

    // Coverup the card shadow
    background: #fff
    width: 100%
    height: 100%

    > header
      padding-bottom: 1rem
      font-size: 16px

      > img
        width: 30px
        height: 30px
        border-radius: 30px
        border: $gray-lighter solid 1px
        margin-right: 1rem

body>footer