#= require angular-resource/angular-resource.min.js

#
# VUSE API Angular Factories
#

const API_ROOT = '<%= isProduction ? "" : "http://127.0.0.1.xip.io:5000" %>/api'

app = angular.module 'vuse', <[ngResource]>

app.factory \Egg, <[
       $resource
]> ++ ($resource) ->
  $resource "#{API_ROOT}/eggs/:eggId/:action", do
    eggId: \@id
  , do
    update: method: \PUT
    # POST /api/eggs
    publish:
      method: \POST
      params: action: \publish

    # GET /api/eggs/:id/slug
    slug:
      method: \GET
      params: action: \slug

    # POST /api/eggs/collect
    collect:
      method: \POST
      params: action: \collect

    # DELETE /api/eggs/collect
    discard:
      method: \DELETE
      params: action: \collect

app.factory \Art, <[
       $http
]> ++ ($http) ->
  # Returned object instance
  query: ->
    $http.get "#{API_ROOT}/arts"

app.factory \Channel, <[
       $resource
]> ++ ($resource) ->
  $resource "#{API_ROOT}/channels/:channelId/:action", do
    channelId: \@id
  , do
    update: method: \PUT

    # GET /api/channels/:id/hatched_artwork
    hatched-artwork:
      method: \GET
      params: action: \hatched_artwork
      is-array: true

    # GET /api/channels/:id/hatching_eggs
    hatching-eggs:
      method: \GET
      params: action: \hatching_eggs
      is-array: true

    # GET /api/channels/:id/submitted_eggs
    submitted-eggs:
      method: \GET
      params: action: \submitted_eggs
      is-array: true

    # GET /api/channels/:id/activities
    activities:
      method: \GET
      params: action: \activities
      is-array: true

    # GET /api/channels/:id/hosts
    hosts:
      method: \GET
      params: action: \hosts
      is-array: true

    # GET /api/channels/:id/designers
    designers:
      method: \GET
      params: action: \designers
      is-array: true

    # GET /api/channels/:id/writers
    writers:
      method: \GET
      params: action: \writers
      is-array: true

    # GET /api/channels/:id/subscribers
    subscribers:
      method: \GET
      params: action: \subscribers
      is-array: true

    # GET /api/channels/:id/slug?name
    slug:
      method: \GET
      params: action: \slug

    # POST /api/channels/:id/subscribe
    subscribe:
      method: \POST
      params: action: \subscribe

    # DELETE /api/channels/:id/subscribe
    unsubscribe:
      method: \DELETE
      params: action: \subscribe